<%= form_with(model: location, html: {class: 'events__form'}) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :address, class: 'label' %>
    <%= form.text_area :address, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :postal_code, class: 'label' %>
    <%= form.number_field :postal_code, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :province, class: 'label' %>
    <%= form.text_field :province,class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :coords, class: 'label' %>
    <%= form.text_area :coords, class:'input' %>
  </div>

  <div class="actions my-6">
    <%= form.submit "#{t '.create'}'", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", locations_path, class: "button has-background-white-ter mx-2" %>
  </div>
<% end %>
