<%= form_with(model:[ @event, interview]) do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
        <% interview.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :event_id, value: params['event_id'] %>
  <%= form.hidden_field :employee_id, value: current_cadmin_user.id %>

  <div class="field">
    <%= form.label :ceremony_music %>
    <%= form.text_field :ceremony_music %>
  </div>

  <div class="field">
    <%= form.label :appetizer_music %>
    <%= form.text_field :appetizer_music %>
  </div>

  <div class="field">
    <%= form.label :banquet_music %>
    <%= form.text_field :banquet_music %>
  </div>

  <div class="field">
    <%= form.label :ceremony_time %>
    <%= form.text_field :ceremony_time %>
  </div>

  <div class="field">
    <%= form.label :entry %>
    <%= form.text_field :entry %>
  </div>

  <div class="field">
    <%= form.label :bridal_dance %>
    <%= form.text_field :bridal_dance %>
  </div>

  <div class="field">
    <%= form.label :garter %>
    <%= form.check_box :garter %>
  </div>

  <div class="field">
    <%= form.label :garter_music %>
    <%= form.text_field :garter_music %>
  </div>

  <div class="field">
    <%= form.label :figures %>
    <%= form.check_box :figures %>
  </div>

  <div class="field">
    <%= form.label :figures_music %>
    <%= form.text_field :figures_music %>
  </div>

  <div class="field">
    <%= form.label :gift_information %>
    <%= form.text_area :gift_information %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
