<h1 class="title is-size-4-desktop is-size-5-touch has-text-centered"><%= t '.title' %></h1>

<!-- TODO: botones para filtrar por completo, incompleto, fechas -->
<div class="columns is-mobile is-multiline is-vcentered">
<% @interviews.each do |interview| %>
  <div class="column is-3-desktop is-6-touch">
    <div class="card p-3">
      <span class="tag <%= Time.now >= interview.event_date ?  'is-success' : 'is-danger' %> is-pulled-right"><%= Time.now >= interview.event_date ?  'completed' : 'pending' %></span>
      <div class="card-content">
        <div class="content">
          <%= link_to event_interview_path(interview.event_id, interview) do %>
            <h4 class="title is-size-4"><%= interview.event_title.present? ? interview.event_title : interview.event_customer_name  %></h4>          
          <% end %>
          <h4 class="title is-size-5"><%= Cadmin::Location.find(interview.event_place_id).name %></h4>
          <time datetime="<%= interview.event_date %>" class="is-size-5"><%= interview.event_date  %></time>
        </div>
      </div>
      <footer class="card-footer mt-3 pt-2">
        <div class="label mr-2">Última vez editado: </div>
        <time datetime="<%= interview.updated_format %>" class="is-size-6"><%= interview.updated_format %></time>
        <% if current_cadmin_user.admin? %>
          <span class="tag is-rounded is-danger is-light ml-2"><%= interview.employee_name %></span>
        <% end %>
      </footer>
    </div>
  </div>
<% end %>
</div>
  




