<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @interview.event_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @interview.employee_id %>
</p>

<p>
  <strong>Ceremony music:</strong>
  <%= @interview.ceremony_music %>
</p>

<p>
  <strong>Appetizer music:</strong>
  <%= @interview.appetizer_music %>
</p>

<p>
  <strong>Banquet music:</strong>
  <%= @interview.banquet_music %>
</p>

<p>
  <strong>Ceremony time:</strong>
  <%= @interview.ceremony_time %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @interview.entry %>
</p>

<p>
  <strong>Bridal dance:</strong>
  <%= @interview.bridal_dance %>
</p>

<p>
  <strong>Garter:</strong>
  <%= @interview.garter %>
</p>

<p>
  <strong>Garter music:</strong>
  <%= @interview.garter_music %>
</p>

<p>
  <strong>Figures:</strong>
  <%= @interview.figures %>
</p>

<p>
  <strong>Figures music:</strong>
  <%= @interview.figures_music %>
</p>

<p>
  <strong>Gift information:</strong>
  <%= @interview.gift_information %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @interview.observations %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
