<h2>Edit <%= resource_name.to_s.humanize %></h2>



<%= link_to "Back", :back %>

<div class="columns login">
  <div class="column is-8-desktop is-hidden-touch">
    <%= inline_svg_tag('cadmin/content/login.svg', class:'login__content') %>
  </div>
  <div class="login__colform column is-4-desktop is-12-touch is-flex is-flex-direction-column is-align-content-center">
    <h2 class="title is-size-3-desktop is-size-5-touch is-family-primary has-text-centered">Actualizar Usuario</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html:{turbo: false, class:'login__logform', method: :put}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field is-success  login__logform__eigthywidth my-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="field login__logform__eigthywidth my-3">
        <%= f.label :name, class: 'login__label is-size-5-desktop' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'login__input' %>
      </div>

      <div class="field is-success  login__logform__eigthywidth my-3">
        <%= f.label :username, class: 'login__label is-size-5-desktop' %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'login__input' %>
      </div>
      <div class="field login__logform__eigthywidth my-3">
        <%= f.label :phone, class: 'login__label is-size-5-desktop' %>
        <%= f.number_field :phone, autofocus: true, autocomplete: "phone", class: 'login__input' %>
      </div>
      <div class="field login__logform__eigthywidth my-3">
        <%= f.label :email, class: 'login__label is-size-5-desktop' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login__input' %>
      </div>

      <div class="field login__logform__eigthywidth my-3">
        <%= f.label :password, class: 'login__label is-size-5-desktop' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'login__input' %>
      </div>

      <div class="field login__logform__eigthywidth my-2">
        <%= f.label :password_confirmation, class: 'login__label is-size-5-desktop' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'login__input' %>
      </div>
      <div class="field">
        <div class="file has-name">
          <%= f.label :avatar , class: 'label required-form__mark' %>
          <div class="control">
            <%= image_tag form.object.image_url if f.object.cached_avatar_data %>
            <%= f.hidden_field :avatar, value: f.object.cached_avatar_data %>
            <%= f.file_field :avatar, class: 'input' %>    
          </div>
        </div>
      </div>
      <div class="actions is-relative login__logform__eigthywidth mt-6">
        <%= f.submit "Actualizar", class: 'button login__logform__logbutton is-rounded is-clickable' %>     
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'subtitle is-rounded login__buttons is-clickable' %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>