<h1 class="title is-size-4-desktop is-size-5-touch has-text-centered"><%= t '.title' %></h1>

<%= turbo_frame_tag :new_message do %>
  <%= form_for [@conversation, @message],data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {id: 'base', class: 'article__form'} do |f| %>
    <div class="field">
      <div class="control">
      <%= f.hidden_field :body, class: 'content ',data: {"quill-target": "content"} %>
        <div data-quill-target="editor" class="is-fullwidth ">
          <%= raw @conversation.messages.last %>
        </div> 
      </div>
    </div>
    <%= f.text_field :user_id, value: current_cadmin_user.id, type: "hidden" %>
    
    <div class="actions my-6">
      <%= f.submit "#{t '.create'}'", class: "button is-success mx-2" %>
      <%= link_to "#{t '.cancel'}", :back, class: "button has-background-white-ter mx-2" %>
    </div>
  <% end %>
<% end %>