<div class="container">
  <div class="is-flex is-flex-direction-row is-justify-content-space-evenly">
    <div class="profile__data is-flex is-flex-direction-row is-justify-content-space-between">
      <% if current_cadmin_user.avatar_data.present? %>
        <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded profile__avatar'  %></figure>
      <% else %>
        <span class="profile__letter_user profile__rounded is-size-1 has-text-white"><%= current_cadmin_user.email[0] %></span> 
      <% end %>
      <div class="is-flex is-flex-direction-column ml-4">
        <div class="subtitle is-size-3 is-size-5-touch has-text-left"><%= current_cadmin_user.username %></div>
        <div class="subtitle is-size-3 is-size-5-touch has-text-left"><%= current_cadmin_user.name %></div>
      </div>
    </div>
    <div  class="is-flex is-hidden-mobile">
      <%= link_to current_cadmin_user.username,edit_profile_path(id: current_cadmin_user.id), class: 'button is-outlined navbar-item mr-2'%>   
      <%= link_to "#{t '.events'}", events_path, class: 'button is-outlined navbar-item mx-2' %>
      <%= link_to "#{t '.messages'}", events_path, class: 'button is-outlined navbar-item mx-2' %>
      <%= link_to "#{t '.interviews'}", events_path, class: 'button is-outlined navbar-item mx-2' %>
      <%= link_to "#{t '.profile'}", profile_show_path(id: current_cadmin_user.id), class: 'button is-outlined navbar-item ml-2'%>
    </div>

  </div>
</div>


  <div class="container">
    <section class="section">
      <div class="tile is-parent">
        <div class=" tile is-child">
          <div class="is-hidden">
            <%= turbo_frame_tag :events, loading: :lazy,target: '_top', src: events_path %>
          </div>
          <div class="is-active">
            <%= turbo_frame_tag :conversations, loading: :lazy,target: '_top', src: conversations_path %>
          </div>
        </div>
      </div>
    </section>
  </div>

