<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="is-user-avatar image has-max-width is-aligned-center navbar-item">
      <% if current_cadmin_user.avatar_data.present? %>
        <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded ccard__avatar'  %></figure>
      <% else %>
        <span class="ccard__letter_user"><%= current_cadmin_user.email[0] %></span> 
      <% end %>
    </div>
    <input type="text" readonly value="<%= current_cadmin_user.username %>" class="input is-static">
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to current_cadmin_user.username,edit_profile_path(id: current_cadmin_user.id), class: 'button is-outlined navbar-item'%>   

      <%= link_to "#{t '.events'}", events_path, class: 'button is-outlined navbar-item' %>

      <%= link_to "#{t '.profile'}", profile_show_path(id: current_cadmin_user.id), class: 'button is-outlined navbar-item'%>
    </div>
  </div>
</nav>



  <div class="container">
    <section class="section">
      <div class="tile is-parent">
        <div class="card tile is-child">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-account default"></i></span>
              <%= t '.profile'%>
            </p>
          </header>
          <div class="card-content">
            <div class="is-user-avatar image has-max-width is-aligned-center">
              <% if current_cadmin_user.avatar_data.present? %>
                <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded ccard__avatar'  %></figure>
              <% else %>
                <span class="ccard__letter_user"><%= current_cadmin_user.email[0] %></span> 
              <% end %>
            </div>
            <hr>
            <div class="field">
              <label class="label"><%= t '.username'%></label>
              <div class="control is-clearfix">
                <input type="text" readonly value="<%= current_cadmin_user.username %>" class="input is-static">
              </div>
            </div>
            <hr>
            <div class="field">
              <label class="label"><%= t '.email'%></label>
              <div class="control is-clearfix">
                <input type="text" readonly value="<%= current_cadmin_user.email %>" class="input is-static">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>