<%= form_with(model: event,  data: {"controller": "quill", "action": "quill#save", turbo: false},html: {class: 'events events__form'}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :name, class: 'label' %>        
        <div class="control is-expanded">
          <%= link_to new_cadmin_user_invitation_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'invite', action: 'click->menu#set_active_menu_item'} do %>
          Crear cliente<%= inline_svg_tag('cadmin/icons/ico-user-add.svg', class:'icon ')%>
          <% end %>
          <%= form.collection_select :name, Cadmin::User.where(role: 'customer').all, :id ,:name, {prompt: 'Selecciona cliente'}, {  prompt: 'Selecciona usuario',class: "select_inside_col",data: {controller: "slimselect"}} %>
        </div>
      </div>
      <div class="field">
        <%= form.label :type_name, class: 'label' %>
        <%= form.text_field :type_name, class: 'input' %>
      </div>
      <div class="field">
        <div class="control">
        <%= form.label :number, class: 'label' %>
        <%= form.number_field :number, class: 'input' %>
        </div>
      </div>
      <div class="field">
        <%= form.label :date, class: 'label ' %>
        <div class="control is-expanded  has-icons-right">
          <%= form.text_field :date,  autocomplete: "off", class: 'input',placeholder: "#{Time.now.strftime('%d-%m-%Y')}",  data: { controller: "flatpickr",flatpickr_default_date: Time.now,flatpickr_min_date: Time.zone.now, flatpickr_date_format: "Y-m-d", flatpickr_locale: locale } %>
          <%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class: 'icon is-small is-right ')%>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :place, class: 'label' %>
        <%= form.collection_select :place_id, Cadmin::Location.all, :id ,:name, {}, {  prompt: 'Selecciona localizacións',class: "select_inside_col",data: {controller: "slimselect"}} %>
      </div>
      <div class="field">
        <%= form.label :guests, class: 'label' %>
        <%= form.number_field :guests, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :user, class: 'label' %>        
        <div class="control is-expanded">
          <%= form.collection_select :user_id, Cadmin::User.where(role: 'employee').all, :id ,:name, {prompt: 'Selecciona empleado'}, {  prompt: 'Selecciona usuario',class: "select_inside_col",data: {controller: "slimselect"}} %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :services, class: 'label' %>
        <div class="control is-expanded"  data-controller="tomselect">          
            <%= form.select(:service_ids, options_for_select(Cadmin::Service.all.map{ |s| [s.name, s.id] }), {include_blank: true}, id: 'service-multi', class: 'form-select', data: { tomselect_target: 'tagsField' }, multiple: true) %>
        </div>
      </div>
      <div class="field">
        <%= form.label :start_time, class: 'label' %>
        <%= form.text_field :start_time, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :deposit, class: 'label' %>
        <%= form.text_field :deposit, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :extra_hours, class: 'label' %>
        <%= form.number_field :extra_hours, class: 'input' %>
      </div>
    </div>
  </div>


    <div class="field">
      <%= form.label :observations, class: 'label' %>
      <div class="control">
      <%= form.hidden_field :observations, class: 'content ',data: {"quill-target": "content"} %>
        <div data-quill-target="editor" class="events__quill is-fullwidth ">
          <%= raw event.observations %>
        </div> 
      </div>
    </div>

    <div class="actions my-6">
      <%= form.submit 'new', class: "button is-success mx-2" %>
      <%= link_to 'back', events_path, class: "button has-background-white-ter mx-2" %>
    </div>
<% end %>
