<%= form_with(model: event,  data: {"controller": "quill", "action": "quill#save", turbo: false},html: {class: 'events events__form'}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="columns">
    <div class="column is-two-thirds">
      <h3 class="title is-size-4"><%= t '.title_event' %></h3>
      <hr class="has-background-white-ter">
      
      <%= form.hidden_field :cart_id, value: @cart.id if session[:cart_id].present? %>
      <div class="field is-horizontal <%= current_cadmin_user.admin? ? '' : 'is-hidden' %>">
        <div class="field-body">
          <div class="field">
            <%= form.label :customer_id, class: 'label' %>        
            <div class="control is-expanded">
              <%= form.collection_select :customer_id, Cadmin::User.where(role: 'customer').all, :id ,:name, {prompt: 'Selecciona cliente'}, {  class: "select_inside_col",data: {controller: "slimselect"}} %>
            </div>
          </div>
          <div class="field">
            <%= form.label "#{t '.new_client'}", class: 'label' %>
            <%= link_to new_cadmin_user_invitation_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'invite', action: 'click->menu#set_active_menu_item'} do %>
              Crear cliente<%= inline_svg_tag('cadmin/icons/ico-user-add.svg', class:'icon ')%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field <%= current_cadmin_user.admin? ? 'is-hidden' : '' %>">
        <div class="control">
        <%= form.label :customer_id, class: 'label' %>
        <%= form.hidden_field :customer_id, value: current_cadmin_user.id %>
        <div class=""><%= current_cadmin_user.name %></div>
        </div>
      </div>
      
      
      <%# if current_cadmin_user.user? || current_cadmin_user.customer? %>
      <%# end %>
      
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
            <%= form.label :title, class: 'label' %>
            <%= form.text_field :title,placeholder: true, class: 'input' %>
            </div>
          </div>
          <div class="field">
            <%= form.label :type_name, class: 'label' %>
            <%= form.collection_select :type_name, @event_types, :name ,:name, {prompt: 'Selecciona tipo de evento'}, {  class: "select_inside_col",data: {controller: "slimselect"}} %>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= form.label :date, class: 'label ' %>
            <div class="control is-expanded  has-icons-right">
              <%= form.text_field :date,  autocomplete: "off", class: 'input',placeholder: "#{Time.now.strftime('%d-%m-%Y')}",  data: { controller: "flatpickr",flatpickr_default_date: Time.now,flatpickr_min_date: Time.zone.now, flatpickr_date_format: "Y-m-d", flatpickr_locale: locale } %>
              <%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class: 'icon is-small is-right ')%>
            </div>
          </div>
          <div class="field">
            <%= form.label :place, class: 'label' %>
            <%= form.collection_select :place_id, Cadmin::Location.all, :id ,:name, {}, {  prompt: 'Selecciona localización',class: "select_inside_col",data: {controller: "slimselect"}} %>
          </div>
        </div>
      </div>


      <div class="field is-horizontal <%= current_cadmin_user.admin? ? '' : 'is-hidden' %>">
        <div class="field-body">
          <div class="field">
            <%= form.label :employee_id, class: 'label' %>        
            <div class="control is-expanded">
              <%= form.collection_select :employee_id, Cadmin::User.where(role: 'employee').all, :id ,:name, {prompt: 'Selecciona empleado'}, {  prompt: 'Selecciona usuario',class: "select_inside_col",data: {controller: "slimselect"}} %>
            </div>
          </div>
          <div class="field">
            <%= form.label :guests, class: 'label' %>
            <%= form.number_field :guests, class: 'input' %>
          </div>
        </div>
      </div>


      <div class="field">
        <%= form.label :observations, class: 'label' %>
        <div class="control">
        <%= form.hidden_field :observations, class: 'content ',data: {"quill-target": "content"} %>
          <div data-quill-target="editor" class="events__quill is-fullwidth ">
            <%= raw event.observations %>
          </div> 
        </div>
      </div>
    </div>
    <div class="column is-one-third">    
      <h3 class="title is-size-4"><%= t '.title_services' %></h3>
      <hr class="has-background-white-ter">
      
      <% if current_cadmin_user.admin? %>
        <div data-controller="nested-form" class= "<%= current_cadmin_user.admin? ? '' : 'is-hidden' %>">
          <template data-nested-form-target="template">
            <%= form.fields_for :event_services, event.event_services.new, child_index: 'TEMPLATE_RECORD' do |event_service| %>
              <%= render 'event_service_fields', form: event_service %>
            <% end %>
          </template>
          
          <%= form.fields_for :event_services do |event_service| %> 
            <%= render 'event_service_fields', form: event_service if event_service.present? %> 
          <% end %>      
          
          <div class="actions my-4"  data-nested-form-target="add_item">
            <%= link_to "#{t '.add_item'}", "#",class: 'button is-outlined is-success', data: { action: "nested-form#add_association" } %>
          </div>    
        </div>
      <% else %>
        <div class= "<%= current_cadmin_user.admin? ? 'is-hidden' : '' %>">
          <% @cart.cart_items.each_with_index do |item, index| %>
            <div class="field">
              <div class="control is-expanded is-flex">          
                <div><%= index += 1%>: <%= item.service_name %></div>
                <%= form.fields_for :event_services,  event.event_services.new do |event_service| %>
                  <%= event_service.hidden_field :service_id, value: item.service_id %>
                  <%= event_service.hidden_field :discount_id, value: Cadmin::Discount.find_by(name: 'default').id %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class= "<%= current_cadmin_user.admin? ? 'is-hidden' : '' %>">
          <hr>
          Total: <%= number_to_currency  @cart.total_cart_amount %> <br>
          <%= "Para completar la reserva tines que adelantar una fianza de " %>
            <div class="control">
            <%= form.radio_button :deposit, @cart.total_cart_amount * 20 / 100, class: 'radio', required: true %> <%= number_to_currency @cart.total_cart_amount * 20 / 100%>
            <%= form.radio_button :deposit, @cart.total_cart_amount * 50 / 100, class: 'radio', required: true %> <%= number_to_currency @cart.total_cart_amount * 50 / 100%>
            <%= form.radio_button :deposit, @cart.total_cart_amount, class: 'radio', required: true %> <%= number_to_currency @cart.total_cart_amount%>
          </div>
        </div>
        <div class="actions my-6 <%= current_cadmin_user.admin? ? 'is-hidden' : '' %>">
          <%= form.submit "#{t '.next'}", class: "button is-success mx-2" %>
          <%= link_to "#{t '.cancel'}", events_path, class: "button has-background-white-ter mx-2" %>
        </div>
      <% end %>
      
    </div>   
  </div>

  <div class="actions my-6 <%= current_cadmin_user.admin? ? '' : 'is-hidden' %>">
    <%= form.submit "#{t '.create'}", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", events_path, class: "button has-background-white-ter mx-2" %>
  </div>
<% end %>