<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.text_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :extra_hour %>
    <%= form.number_field :extra_hour %>
  </div>

  <div class="field">
    <%= form.label :employee, class: 'label' %>
      <%= form.hidden_field :employee_id%>
    <div class="control is-expanded">
      <%= select_tag :employee_id,options_from_collection_for_select(Cadmin::User.all, 'id', 'name'), prompt: 'Selecciona usuario', class: 'article__select', data: {controller: "slimselect"} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :substitute, class: 'label' %>
      <%= form.hidden_field :substitute_id%>
    <div class="control is-expanded">
      <%= select_tag :substitute_id,options_from_collection_for_select(Cadmin::User.all, 'id', 'name'), prompt: 'Selecciona usuario', class: 'article__select', data: {controller: "slimselect"} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :deposit %>
    <%= form.text_field :deposit %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_field :payment_method %>
  </div>

  <div class="field">
    <%= form.label :charged %>
    <%= form.check_box :charged %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
