<%= link_to 'New Event', new_event_path, class: 'button is-success is-outlined' %>



<div class="card has-table">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
      Clients
    </p>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <div class="card-content">
    <div class="b-table has-pagination">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-scrollable-touch">
          <thead>
          <tr>
            <th class="is-checkbox-cell">
              <label class="b-checkbox checkbox">
                <input type="checkbox" value="false">
                <span class="check"></span>
              </label>
            </th>
            <th><%= link_to 'Name', sort: 'name' %></th>
            <th><%= link_to 'Type', sort: 'type_name' %></th>
            <th>Number</th>
            <th><%= link_to 'Date', sort: 'date' %></th>
            <th>Location</th>
            <th>Employee</th>
            <th>service id</th>
            <th>Deposit</th>
            <th>Observations</th>
            <th>Charged</th>
            <% if 1 == 0 %>
              <th>Total amount</th>
              <th>Start time</th>
              <th>Extra hour</th>
            <% end %>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>           
              <tr>
                <td class="is-checkbox-cell">
                  <label class="b-checkbox checkbox">
                    <input type="checkbox" value="false">
                    <span class="check"></span>
                  </label>
                </td>
                <td><%= link_to Cadmin::User.find(event.name).name, user_path(Cadmin::User.find(event.name)) %></td>
                <td><%= event.type_name %></td>
                <td><%= event.number %></td>
                <td data-label="date"><small class="has-text-grey is-abbr-like" title="<%= event.date %>"><%= event.date.strftime('%d-%m-%y') %></small></td>
                <td><%= link_to event.placename, Cadmin::Location.find_by_id(event.place_id)  %></td>
                <td><%= event.user_name %></td>
                <td><%= event.servicename %></td>
                <td><%= event.deposit || 0 %></td>                    
                <td><%= raw event.observations.truncate(27, separator: /\s/) %></td>
                <td>
                  <!--TODO REVIEW THIS PART-->
                  <%= form_with(model: event,html: {class: 'events events__form'}) do |form| %>
                    <div class="media-content is-flex is-flex-direction-column is-align-items-center">                      
                      <%= form.check_box :charged, class:"switch" %>
                      <%= form.submit 'ok', class:'button is-small'%>                
                    </div>  
                  <% end %>
                </td>
                <% if 1 == 0 %>
                  <td><%= event.total_amount || 0 %></td>
                  <td><%= event.start_time %></td>
                  <td><%= event.extra_hours || 0 %></td>
                <% end %>
                <td class="is-actions-cell">
                  <div class="buttons is-right">
                    <%= link_to inline_svg_tag('cadmin/icons/ico-eye.svg', class: 'icon is-medium has-text-primary'), event,data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
                    <%= link_to inline_svg_tag('cadmin/icons/ico-edit.svg', class: 'icon is-medium has-text-primary'), edit_event_path(event), data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
                    <%#= link_to inline_svg_tag('cadmin/icons/ico-trash.svg', class: 'has-background-primary'), event, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-small is-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="8">
              </td>
              <th>Total: </th>
              <td><%= @total %></td>
              <td colspan="2"></td>
            </tr>
          </tbody>
        </table>
      </div>