<h1 class="title is-size-4-desktop is-size-5-touch has-text-centered"><%= t '.title' %></h1>
<%= render Cadmin::SearchFormComponent.new(path: events_path,params: 'title',  button:'')%>
<div class="is-clearfix"></div>

  <%= turbo_frame_tag :events do %>
    <div class="card has-table">
      <header class="card-header is-align-items-center pr-4">
        <div class="card-header-title"> 
          <%= link_to "#{t '.new'}", new_event_path, target: '_top',class: 'button is-primary is-outlined' if current_cadmin_user.admin? %>
          <div class="has-text-centered is-fullwidth title is-size-4-desktop is-size-5-touch">
            <%= t '.page_title' %> 
          </div>
        </div>
        <span class="tag is-warning is-rounded" style="padding-top:5px;"><%= link_to inline_svg_tag('cadmin/icons/ico-refresh.svg', class: 'icon is-small'), events_path%></span>
      </header>
      <div class="card-content">
        <div class="b-table has-pagination is-scrollable-touch">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-fullwidth is-scrollable-touch">
              <thead>
                <tr>
                  <% if 1 == 0 %>
                   <%# TODO: pendiente de desarrollar checkbox select (all)%> 
                  <th class="is-checkbox-cell">
                    <label class="b-checkbox checkbox">
                      <input type="checkbox" value="false">
                      <span class="check"></span>
                    </label>
                  </th>
                  <% end %>
                  <th class="is-size-7-mobile"><%= link_to "#{t '.title'}", sort: 'title' %></th>
                  <th class="is-size-7-mobile"><%= link_to "#{t '.type_name'}", sort: 'type_name' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= link_to "#{t '.number'}", sort: 'number' %></th>
                  <th class="is-size-7-mobile"><%= link_to "#{t '.date'}", sort: 'date' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= link_to "#{t '.place_id'}", sort: 'place_id' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= link_to "#{t '.employee_id'}", sort: 'employee_id' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= t '.service_ids' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= t '.deposit' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= t '.pending' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= t '.total_amount' %></th>
                  <th class="is-size-7-mobile is-hidden-mobile"><%= t '.charged' %></th>
                  <th class="is-size-7-mobile"><%= "#{t '.actions'}" %></th>
                </tr>
              </thead>
              <tbody>
                <% @events.each do |event| %>           
                  <tr  data-controller='charged' class="<%= "has-background-danger-light" if event.status == 'cancelled' %>  <%="has-background-success-light" if event.status == 'completed' %>">
                    <% if 1 == 0 %>
                      <%# TODO: pendiente desarrollar checkbox select (all)%>
                      <td class="is-checkbox-cell">      
                        <%= check_box_tag :paid, event.id %>
                      </td>
                    <% end %>
                    <td class="is-size-7-mobile"><%= event.title %></td>
                    <td class="is-size-7-mobile"><%= event.type_name %></td>
                    <td class="is-size-7-mobile is-hidden-mobile"><%= event.number %></td>
                    <td data-label="date"><small class="has-text-grey is-abbr-like" title="<%= event.date %>"><%= event.date.strftime('%d-%m-%y') %></small></td>
                    <td class="is-size-7-mobile is-hidden-mobile"><%= link_to event.placename, Cadmin::Location.find_by_id(event.place_id)  %></td>
                    <td class="is-size-7-mobile is-hidden-mobile"><%= event.employee_name if event.employee_id.present? %></td>
                    <td class="is-size-7-mobile is-hidden-mobile"><%= event.servicenames  %></td>
                    <td class="is-size-7-mobile is-hidden-mobile"><%= number_with_precision(event.deposit, precision: 2) %></td>     
                    <td class="is-size-7-mobile is-hidden-mobile"><%= (event.charged || event.status == 'cancelled') ? 0 : number_with_precision(event.total_services_amount - event.deposit, precision: 2) %><%= t 'currency' %></td>               
                    <td class="is-size-7-mobile is-hidden-mobile"><%= event.status == 'cancelled' ? "0" : number_with_precision(event.total_services_amount , precision: 2) %><%= t('currency') %></td> 
                    <td data-charged-target="tag" class="is-hidden-mobile <%= event.charged == true ? 'has-background-success' : 'default'%> is-size-7-mobile"><%= event.charged? ? 'Cobrado' : 'Pendiente' %> </td>
                    <td class="is-actions-cell">
                      <div class="buttons is-flex-wrap-nowrap">                    
                        <%= link_to inline_svg_tag('cadmin/icons/ico-euro.svg', class: 'icon is-medium   has-text-primary ') , charged_event_path(event), data: {action: 'charged#change',  turbo: false},  class: 'button is-small is-clickable m-0 is-hidden-mobile' %>
                        <%= link_to inline_svg_tag('cadmin/icons/ico-ban.svg', class: 'icon is-medium   has-text-primary ') , cancel_event_path(event), data: {action: 'charged#cancel',  turbo: false},  class: 'button is-small is-clickable m-0 is-hidden-mobile' %>
                        <%= link_to inline_svg_tag('cadmin/icons/ico-eye.svg', class: 'icon is-medium has-text-primary'), event ,data:{turbo_frame: "_top"}, class: 'button is-small is-clickable m-0' %>
                        <% if current_cadmin_user.admin? %>
                          <%= link_to inline_svg_tag('cadmin/icons/ico-edit.svg', class: 'icon is-medium has-text-primary'), edit_event_path(event), data:{turbo_frame: "_top"}, class: 'button is-small is-clickable m-0' %>
                          <%= button_to event, method: :delete, data: { controller: "swal", action: "click->swal#fire", swal_options_value: default_swal_options,turbo_frame: "_top" }, class:"button is-small is-clickable m-0 is-hidden-mobile"  do %>
                            <%=  inline_svg_tag('cadmin/icons/ico-trash.svg', class: 'icon is-medium has-text-primary') %>
                          <% end %>    
                        <% end %>
                      </div>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <!--<td class="is-size-7-mobile is-hidden-mobile"></td>-->
                  <td class="is-size-7-mobile "><%= t '.events_count' %> </th>
                  <td class="is-size-7-mobile "><%= @events_count %></td>
                  <td class="is-hidden-mobile" colspan="1"></td>
                  <td class="is-size-7-mobile is-hidden-mobile"><%= t '.pending' %>: </td>
                  <td class="is-size-7-mobile is-hidden-mobile"><%= "#{number_with_precision(@pending_amount, precision: 2)}#{t 'currency'}" %></td>
                  <td class="is-size-7-mobile "><%= t '.total_amount' %> </td>
                  <td class="is-size-7-mobile "><%= "#{number_with_precision(@total, precision: 2)}#{t 'currency'}" %></td>
                  <td class="is-hidden-mobile" colspan="5"></td>
                </tr>
              </tbody>
            </table>
            <% if @events.present? %>
              <div class="box">
                <%== pagy_bulma_nav(@pagy) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
