<%= form_with(model: event_type, html: {class: 'events__form'}) do |form| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
        <% event_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class:'label' %>
    <%= form.text_field :name, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :salary, class:'label' %>
    <%= form.number_field :salary,value: number_to_currency(form.object.salary.to_f, delimiter: '', unit: ''), step: :any, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :overtime_price, class:'label' %>
    <%= form.number_field :overtime_price,value: number_to_currency(form.object.overtime_price.to_f, delimiter: '', unit: ''), step: :any, class:'input' %>
  </div>

  <div class="field">
    <%= form.label :assemble, class:'label' %>
    <%= form.number_field :assemble,value: number_to_currency(form.object.assemble.to_f, delimiter: '', unit: ''), step: :any , class:'input' %>
  </div>

  <div class="actions my-6">
    <%= form.submit "#{t '.create'}'", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", event_types_path, class: "button has-background-white-ter mx-2" %>
  </div>
<% end %>
