<h1><%= t '.title' %></h1>

<%= link_to "#{t '.create'}'", new_discount_path, class:'button is-outlined is-success mx-2' %> 
<%= link_to "#{t '.cancel'}", :back, class: "button has-background-white-ter mx-2" %>
  
<div class="container mt-6">
  <div class="columns is-multiline is-mobile is-justify-content-space-between">
    <% @discounts.each do |discount| %>
      <div class="card column is-3">
        <header class="card-header">
          <span class="card-header-title">
            <%= link_to discount.name, discount %>
          </span>
          <span class="tag is-success subtitle is-size-5"><%= discount.percentage %>%</span>
        </header>
        <div class="card-content">
          <div class="content">
            <%= raw discount.description %>
            <br>
            <time
              datetime="<%= discount.start_date if discount.start_date.present? %>"><%= discount.start_date if discount.start_date.present? %></time>
            <time
              datetime="<%= discount.end_date if discount.end_date.present? %>"><%= discount.end_date if discount.end_date.present? %></time>
          </div>
        </div>
        <footer class="card-footer has-backgroud-white-ter">
          <%= link_to "#{t '.edit'}", edit_discount_path(discount), class:'button is-outlined is-warning mr-3' %>
          <%= link_to "#{t '.destroy'}", discount, method: :delete, data: { confirm: 'Are you sure?' }, class:'button is-outlined is-primary ml-3' %>
        </footer>
      </div>
    <% end %>
  </div>
</div>

