<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title.present? ? @title : 'cAdmin'%></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css', 'data-turbo-track': 'reload'%> 
    <%= stylesheet_link_tag "https://unpkg.com/uppy@1.25.2/dist/uppy.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'cadmin/main',  'data-turbo-track': 'reload' %>    
    <%= yield :head %>
    
    <%#= javascript_include_tag 'cadmin/application' %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= cadmin_stimulus_include_tags %>
  </head>
  <body>
    <%= render Cadmin::NotificationComponent.with_collection(flash.to_a) %>
    <%= render 'layouts/cadmin/partials/admin_aside' if cadmin_user_signed_in? %>
    <main class="column <%= cadmin_user_signed_in? ? 'main is-10 is-offset-2 p-0' : 'is-12 has-background-grey-lighter' %> is-vcentered is-fullheight" >
      <% if cadmin_user_signed_in? %>
        <header class="header panel-heading">
          <div class="is-flex is-align-items-center">
            <button class="button mr-3 header__menu" data-controller="fire-sidebar" data-action="fire-sidebar#fire"><%= inline_svg_tag("cadmin/icons/ico-menu.svg", class:"icon has-text-link") %></button>
            <span class="panel-heading subtitle is-size-6 | has-text-left"><%= render_breadcrumbs separator: ' > '  %></span>           
          </div>
        </header>
      <% end %>
      <section class="section">  
        <%= yield %>
      </section>
    </main>
  </body>
</html>