<%= turbo_frame_tag :comments do %>
  <article class="media mb-6 comments">
    <figure class="media-left">
      <p class="image is-64x64 ">
      <% if current_cadmin_user.avatar.present? %>
        <%= image_tag current_cadmin_user.avatar_url, class:"is-rounded comments__profile"%>
      <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h3 class="subtitle is-size-6 has-text-left mb-1"> <%= comment.user.username %>  </h3>
        <div class="has-text-left is-fullwidth">
          <%= raw comment.content %>
        </div>
        <small class="is-pulled-left mt-4"><a>Like</a> · <a>Reply</a> <%= comment.created_at.strftime('%H:%M %d-%m-%y' )%></small>
      </div>
      
      <% if 1 == 0 %>
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png" class="is-rounded">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Sean Brown</strong>
                <br> Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                <br>
                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
              </p>
            </div>

          </div>
        </article>

        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Kayli Eunice </strong>
                <br> Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                Curae; Phasellus lacinia non nisl id feugiat.
                <br>
                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
              </p>
            </div>
          </div>
        </article>

      <% end %>
    </div>
  </article>
<% end %>
