<%= turbo_frame_tag :comments do %>
  <article class="media mb-6 comments">
    <figure class="media-left">
      <p class="image is-64x64 ">
        <% if current_cadmin_user.avatar_data.present? %>
          <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded comments_profile'  %></figure>
        <% else %>
          <span class="sidebar__letter_user"><%= current_cadmin_user.username[0] %></span> 
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <h3 class="subtitle is-size-6 has-text-left mb-1"> <%= comment.user.username %>  </h3>
        <div class="has-text-left is-fullwidth">
          <%= raw comment.content %>
        </div>
        <small class="is-pulled-left mt-4"><a>Like</a> · <a>Reply</a> <%= comment.created_at.strftime('%H:%M %d-%m-%y' )%></small>
      </div>
      <!--todo: comments inside comments feat-->
    </div>
  </article>
<% end %>
