<%= turbo_frame_tag :comment_form do%>
  <article class="media comments__form">
    <figure class="media-left">
      <p class="image is-64x64">
      <% if current_cadmin_user.avatar.present? %>
        <%= image_tag current_cadmin_user.avatar_url, class:"is-rounded comments__profile"%>
      <% end %>
      </p>
    </figure>
    <div class="media-content">
      <%= form_with(model: [@article, @article.comments.build], local: true,data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {id: 'base'}) do |form| %>
        <% if comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
              <% comment.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <p class="control">
            <%#= form.hidden_field :article_id%>
            <%= form.hidden_field :user_id %>
            <%= form.text_area :content, class: 'textarea', placeholder: 'Escribe un comentario...' %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <div class="actions">
              <%= form.submit 'Post Comment', class: 'button' %>
            </div>                  
          </p>
        </div>  
      <% end %>              
    </div>
  </article>
<% end %>