<%= form_with(model: [@main, @service],data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {class: 'events__form'}) do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% @service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :name, class:'label' %>
        <%= form.text_field :name, class: 'input' %>
      </div>

      <div class="field">
        <%= form.label :price, class:'label' %>
        <%= form.text_field :price, class:'input' %>
      </div>
      
      <div class="field">
        <%= form.label :hour_price, class:'label' %>
        <%= form.text_field :hour_price, class:'input' %>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :short_dscription, class:'label' %>
        <%= form.text_area :short_dscription, class: 'textarea' %>
      </div>

      <div class="field">
        <%= form.label :description, class:'label' %>
        <%= form.text_area :description, class:'textarea' %>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label :metatitle, class:'label' %>
        <%= form.text_field :metatitle, class:'input' %>
      </div>

      <div class="field">
        <%= form.label :metadescription, class:'label' %>
        <%= form.text_area :metadescription, class:'textarea' %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :features, class: 'label' %>
    <div class="control">
    <%= form.hidden_field :features, class: 'content ',data: {"quill-target": "content"} %>
      <div data-quill-target="editor" class="events__quill is-fullwidth ">
        <%= raw service.features %>
      </div> 
    </div>
  </div>

    <%# if 1 == 0 %>        
      <div class="field">
        <div class="file has-name">
          <%= form.label :image , class: 'label' %>
          <div class="control">
            <%= image_tag form.object.image_url if form.object.cached_image_data %>
            <%= form.hidden_field :image, value: form.object.cached_image_data %>
            <%= form.file_field :image, class: 'custom-file-upload' %>    
          </div>
        </div>
      </div>
    <%# end %>
    <%if 1== 0 %>
        <div class="field">
          <%= form.label :image %>
          <div data-controller="uppy" class="is-relative">
            <div data-uppy-target="container"></div>
            <%= form.hidden_field :image, value: form.object.cached_image_data,data: { "uppy-target": 'input' } %>
            <%#= form.hidden_field :image, value: article.cached_image_data, data: { uppy_target: 'input' } %>
            <div class="upload_container">
              <%= link_to"", "", target: '_blank', data: {"uppy-target": 'preview'} %>
              <span data-action="click->uppy#removeFile">Eliminar</span>
            </div>
          </div>
        </div>
    <% end %>
    
  <div class="actions my-6">
    <%= form.submit "#{t '.create'}", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", main_service_services_path, class: "button has-background-white-ter mx-2" %>
  </div>
<% end %>
