<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short dscription</th>
      <th>Description</th>
      <th>Metatitle</th>
      <th>Metadescription</th>
      <th>Features</th>
      <th>Price</th>
      <th>Hour price</th>
      <th>Extra hour</th>
      <th>Initial hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.short_dscription %></td>
        <td><%= service.description %></td>
        <td><%= service.metatitle %></td>
        <td><%= service.metadescription %></td>
        <td><%= service.features %></td>
        <td><%= service.price %></td>
        <td><%= service.hour_price %></td>
        <td><%= service.extra_hour %></td>
        <td><%= service.initial_hours %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
