<h1 class="title is-size-4-desktop is-size-5-touch has-text-centered"><%= t '.title' %></h1>
  <div class="container">
    <%= link_to "#{t '.create'}", new_main_service_service_path, class:'button is-outlined is-primary mx-2 my-4' %> 
    <div class="columns is-multiline is-centered">    
      <% @services.each do |service| %>
        <div class="card column is-3 m-3">
          <div class="card-image">
            <figure class="image is-16by9">
              <%= image_tag service.image_url if service.image %>
            </figure>
          </div>
          <hr>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to service.name, main_service_service_path(id: service)%></p>
                <p class="subtitle is-6"><%= raw service.description%></p>
              </div>
            </div>
            <hr>
            <div class="content">
              <%= service.short_dscription%>.
              <br>
              <%= service.description %>
              <br>
              <%= service.price if current_cadmin_user.admin?%>
            </div>
          </div>
          
          <%= link_to "#{t '.edit'}", edit_main_service_service_path(id: service) , class:'button is-outlined is-success' if current_cadmin_user.admin? %>
          <%= link_to "#{t '.destroy'}", root_path,data: { controller: "swal", action: "click->swal#fire", swal_options_value: default_swal_options,turbo_frame: "_top" } , class:'button is-outlined is-warning' if current_cadmin_user.admin? %> <!-- todo: boton eliminar -->
        </div>
      <% end %>
    </div>
  </div>

<%#= link_to 'New Service', new_main_service_service_path %>


<!--TODO: move to right place-->


<% if 1 == 0 %>
  <script>
    let data = {
      token: document.getElementByName('csrf-token')[0].content,
      service:null,
      btn: null,
      message:"",
      cart: null,
      status: 0,
      response: null,
      element: null,
      total: null
    }


    let actions = {
      add_to_cart(e) {
        data.service = e.getAttribute('data-service')
        data.btn = e
        fetch('/cart_items', {
          method: 'POST',
          headers: {
            'X-CSRF-Token': data.token,
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({service_id: data.service})
        })
        .then(response => {
          data.status = response.clone().status
          return response.json()
        })
        .then( response => {
          data.response = response
          if(data.status == 200) {
            document.getElementById('mycart').textContent = response.cart
            ap_accions.toast_alert("success", data.response.response, 2000)
          }else{
            ap_accions.toast_alert("error", data.response.services[0], 2000)
          }
        })
        .catch(error => {
          console.log(error)
        })
      }
    }
  </script>
<% end %>