<p id="notice"><%= notice %></p>

<h1><%= t '.title'%></h1>

  <div class="container">
    <%= link_to "#{t '.create'}", new_main_service_service_path, class:'button is-outlined is-success mx-2 my-4' %> 
    <div class="columns is-multiline is-centered">    
      <% @services.each do |service| %>
        <div class="card column is-3 m-3">
          <div class="card-image">
            <figure class="image is-16by9">
              <%= image_tag service.image_url if service.image %>
            </figure>
          </div>
          <hr>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to service.name, main_service_service_path(id: service)%></p>
                <p class="subtitle is-6"><%= raw service.description%></p>
              </div>
            </div>
            <hr>
            <div class="content">
              <%= service.short_dscription%>.
              <br>
              <%= service.description %>
              <br>
            </div>
          </div>
          <%= link_to "#{t '.edit'}", edit_main_service_service_path(id: service) , class:'button is-outlined is-success' if current_cadmin_user.admin? %>
          <%= link_to "#{t '.destroy'}", root_path , class:'button is-outlined is-success' if current_cadmin_user.admin? %> <!-- todo: boton eliminar -->
        </div>
      <% end %>
    </div>
  </div>

<%#= link_to 'New Service', new_main_service_service_path %>
