<p id="notice"><%= notice %></p>
<!--TODO: STYLE AND TRANSLATE THIS PAGE-->
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Short dscription:</strong>
  <%= @service.short_dscription %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Metatitle:</strong>
  <%= @service.metatitle %>
</p>

<p>
  <strong>Metadescription:</strong>
  <%= @service.metadescription %>
</p>

<p>
  <strong>Features:</strong>
  <%=raw  @service.features %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Hour price:</strong>
  <%= @service.hour_price %>
</p>

