<!-- sidebaar-->
<aside class="sidebar sidebar__w16 has-background-white-ter" data-controller="sidebar" data-action="openSidebar@window->sidebar#open" data-decrease-target="sidebar" >
  <div class="has-text-centered has-background-white sidebar__logo">
    <%= link_to inline_svg_tag("cadmin/icons/ico-home.svg", class:"icon is-medium has-text-dark"), root_path %>              
  </div>
  <button class="sidebar__close delete" aria-label="close" data-action="sidebar#close"></button>
  <div class="sidebar__showhide">  
    
    <%= link_to image_tag("cadmin/icons/ico-chevron-left.svg", class: 'sidebar__showhide__icon is-clickable', data: { "decrease-target": 'arrow'}),'', data: {action: "decrease#hide"} %>
  </div>
  <nav class="vertical" data-controller="menu">
    <ul>

      <li>  
        <span data-action="click->menu#set_active_menu" data-menu="home">
          <%= link_to root_path , class: 'panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line has-text-dark', data: {'menu-target': 'link', 'menu-item': 'home', action: 'click->menu#set_active_menu_item'} do %>
              <%= inline_svg_tag('cadmin/icons/ico-home.svg', class:'icon  mx-4')%> <span data-decrease-target="hidetext">Inicio</span>
          <% end %>
        </span>
      </li>
      <li>  
        <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="events">
          <%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Eventos</span>
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to events_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'event', action: 'click->menu#set_active_menu_item'} do %>
              <span data-decrease-target="hidetext">Eventos</span><%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class:'icon ')%>
            <% end %>
          </li>
          <li>
            <%= link_to interviews_path, class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'interviews', action: 'click->menu#set_active_menu_item'} do %>
              <span data-decrease-target="hidetext">Entrevistas</span><%= inline_svg_tag('cadmin/icons/ico-clipboard-list.svg', class:'icon ')%>
            <% end %>
          </li>
          <% if 1 == 0 %>
            <li>
              <%= link_to agenda_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'agenda', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Agenda</span><%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class:'icon ')%>
              <% end %>
            </li>  
          <% end %>
          <% if current_cadmin_user.admin? %>
            <li>
              <%= link_to discounts_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'discounts', action: 'click->menu#set_active_menu_item'}  do %>
                <span data-decrease-target="hidetext">Descuentos</span><%= inline_svg_tag('cadmin/icons/ico-information-circle.svg', class:'icon ')%>
              <% end %>
            </li>
            <li>
              <%= link_to locations_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'places', action: 'click->menu#set_active_menu_item'}  do %>
                <span data-decrease-target="hidetext">Restaurantes</span><%= inline_svg_tag('cadmin/icons/ico-location.svg', class:'icon ')%>
              <% end %>
            </li>            
            <li>
              <%= link_to event_types_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'event_types', action: 'click->menu#set_active_menu_item'}  do %>
                <span data-decrease-target="hidetext">Tipo eventos</span><%= inline_svg_tag('cadmin/icons/ico-information-circle.svg', class:'icon ')%>
              <% end %>
            </li>            
          <% end %>
        </ul>
      </li>
      <% if current_cadmin_user.admin? %>
        <li>  
          <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="users">
            <%= inline_svg_tag('cadmin/icons/ico-user-group.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Usuarios</span>
          </span>
          <ul data-menu-target="dropdown">
            <li>
              <%= link_to new_cadmin_user_invitation_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'invite', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Invitar</span><%= inline_svg_tag('cadmin/icons/ico-user-add.svg', class:'icon ')%>
              <% end %>
            </li>
            <% if 1 == 0 %>
              <li>
                <%= link_to users_list_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'active', action: 'click->menu#set_active_menu_item'} do %>
                  <span data-decrease-target="hidetext">Usuarios</span><%= inline_svg_tag('cadmin/icons/ico-user-group.svg', class:'icon ')%>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>

      <% end %>
      <li>  
        <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="services">
          <%= inline_svg_tag('cadmin/icons/ico-headset-outline.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Servicios</span>
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to new_main_service_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'create_main_service', action: 'click->menu#set_active_menu_item'} do %>
              <span data-decrease-target="hidetext">Nueva categoria</span><%= inline_svg_tag('cadmin/icons/ico-plus-circle.svg', class:'icon ')%>
            <% end %>
          </li>
          <% @main_services.each do |main|%>
            <li>
              <%= link_to main_service_services_path(main) , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': "#{main.name}", action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext"> <%= main.name.capitalize %> </span> <%= inline_svg_tag('cadmin/icons/ico-view-grid-add.svg', class:'icon ')%>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>  
        <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="mailbox">
          <%= inline_svg_tag('cadmin/icons/ico-chat.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Mensajes</span> <% if @unviewed_messages > 0 %><span class="tag is-danger is-rounded is-flex ml-6"><%= @unviewed_messages %></span> <% end %>
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to conversations_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'inbound', action: 'click->menu#set_active_menu_item'} do %>
              <span data-decrease-target="hidetext">Buzon</span> <%= inline_svg_tag('cadmin/icons/ico-chat.svg', class:'icon ')%>
            <% end %>
          </li>
        </ul>
      </li>
      <% if  current_cadmin_user.admin? %>
        <li>  
          <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="blog">
            <%= inline_svg_tag('cadmin/icons/ico-book-open.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Blog</span> 
          </span>
          <ul data-menu-target="dropdown">
            <li>
              <%= link_to articles_path  , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'articles', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Articulos</span><%= inline_svg_tag('cadmin/icons/ico-book-open.svg', class:'icon ')%>
              <% end %>
            </li>
            <li>
              <%= link_to new_article_path  , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'new_article', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Crear Articulo</span><%= inline_svg_tag('cadmin/icons/ico-plus-circle.svg', class:'icon ')%>
              <% end %>
            <li>
              <%= link_to new_article_category_path  , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'new_category', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Crear Categoria</span><%= inline_svg_tag('cadmin/icons/ico-plus-circle.svg', class:'icon ')%>
              <% end %>
            </li>
            <li>
              <%= link_to new_tag_path  , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'new_tag', action: 'click->menu#set_active_menu_item'} do %>
                <span data-decrease-target="hidetext">Crear tag</span> <%= inline_svg_tag('cadmin/icons/ico-plus-circle.svg', class:'icon ')%>
              <% end %>
            </li>
            </li>
          </ul>
        </li>
        <li>  
          <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="conf">
            <%= inline_svg_tag('cadmin/icons/ico-mail.svg', class:'icon mx-4')%> <span data-decrease-target="hidetext">Configuración</span> 
          </span>
            <ul data-menu-target="dropdown">
              <li>
                <%= link_to email_base_templates_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'base_templates', action: 'click->menu#set_active_menu_item'} do %>
                  Configuracion email<%= inline_svg_tag('cadmin/icons/ico-mail.svg', class:'icon ')%>
                <% end %>
              </li>      
            </ul>
        </li>
      <% end %>
      <% if current_cadmin_user.superadmin? %>
        <li>  
          <span class="panel-block has-text-dark is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line " data-action="click->menu#set_active_menu" data-menu="modules">
            <%= inline_svg_tag('cadmin/icons/ico-cog.svg', class:'icon mx-4')%>  <span data-decrease-target="hidetext">Configuración</span>
          </span>
          <ul data-menu-target="dropdown">
            <li>
              <%= link_to new_web_module_path , class: 'item panel-block has-text-dark is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'modules', action: 'click->menu#set_active_menu_item'} do %>
               <span> Modulos </span> <%= inline_svg_tag('cadmin/icons/ico-key.svg', class:'icon ')%>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>

    </ul>
  </nav>

    <!--cuenta/cerrar sesion-->
    <span class="has-text-centered has-text-white-ter" data-decrease-target="hidetext"><%= current_cadmin_user.username %> || <%= current_cadmin_user.role%></span>
    <div data-controller="dropdown" class="dropdown is-up is-justify-content-center p-3">
      <div class="dropdown-trigger">
        <button class="button has-text-white is-fullwidth sidebar__button_user p-5 has-text-dark" aria-haspopup="true" aria-controls="dropdown-menu" data-action="click->dropdown#show_options">
          <% if current_cadmin_user.avatar_data.present? %>
            <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded sidebar__avatar'  %></figure>
          <% else %>
            <span class="sidebar__letter_user "><%= current_cadmin_user.email[0] %></span> 
          <% end %>
          <span class="has-text-dark" data-decrease-target="hidetext"><%= current_cadmin_user.email %></span>
        </button>
      </div>
      <div class="dropdown-menu pr-3" data-dropdown-target="button" id="dropdown-menu" role="menu">
        <div class="dropdown-content is-pulled-right">
          <div class="dropdown-item">
            <div class="dropdown-content">
              <%= button_to "Cerrar Sesión", logout_path, method: :get, class: "dropdown-item has-text-dark", data: {turbo: false} %>
              <%= link_to "Mi Cuenta", profile_index_path, class: "dropdown-item has-text-centered has-text-dark  p-0" %>   
              <%= link_to "web", '/', class: "dropdown-item has-text-centered has-text-dark  p-0" %>                      
            </div>
          </div>
        </div>
      </div>
    </div>

</aside>
