<!-- sidebaar-->
<aside class="sidebar" data-controller="sidebar" data-action="openSidebar@window->sidebar#open">
<button class="sidebar__close delete" aria-label="close" data-action="sidebar#close"></button>
  <div class="has-text-centered">
    <%= link_to inline_svg_tag("cadmin/icons/ico-home.svg", size: "90", class:"has-text-white-ter"), root_path %>              
  </div>
  <nav class="vertical" data-controller="menu">
    <ul>

      <li>  
        <span data-action="click->menu#set_active_menu" data-menu="home">
          <%= link_to root_path , class: 'panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line ', data: {'menu-target': 'link', 'menu-item': 'home', action: 'click->menu#set_active_menu_item'} do %>
              <%= inline_svg_tag('cadmin/icons/ico-home.svg', class:'icon  mx-4')%> Inicio
          <% end %>
        </span>
      </li>
      <li>  
        <span class="panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line sidebar__arrow" data-action="click->menu#set_active_menu" data-menu="blog">
          <%= inline_svg_tag('cadmin/icons/ico-cog.svg', class:'icon mx-4')%> Blog
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to articles_path  , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'articles', action: 'click->menu#set_active_menu_item'} do %>
              Articulos<%= inline_svg_tag('cadmin/icons/ico-document.svg', class:'icon ')%>
            <% end %>
          </li>
          <li>
            <%= link_to new_article_path  , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'new_article', action: 'click->menu#set_active_menu_item'} do %>
              Nuevo Articulos<%= inline_svg_tag('cadmin/icons/ico-document-add.svg', class:'icon ')%>
            <% end %>
          </li>
        </ul>
      </li>
      <li>  
        <span class="panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line sidebar__arrow" data-action="click->menu#set_active_menu" data-menu="users">
          <%= inline_svg_tag('cadmin/icons/ico-users.svg', class:'icon mx-4')%> Usuarios
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to new_cadmin_user_invitation_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'invite', action: 'click->menu#set_active_menu_item'} do %>
              Invitar<%= inline_svg_tag('cadmin/icons/ico-user-add.svg', class:'icon ')%>
            <% end %>
          </li>
          <li>
            <%= link_to users_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'active', action: 'click->menu#set_active_menu_item'} do %>
              Usuarios<%= inline_svg_tag('cadmin/icons/ico-user-add.svg', class:'icon ')%>
            <% end %>
          </li>
        </ul>
      </li>
      <%# if @web_module.mailbox? %>
        <li>  
          <span class="panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line sidebar__arrow" data-action="click->menu#set_active_menu" data-menu="mailbox">
            <%= inline_svg_tag('cadmin/icons/ico-cog.svg', class:'icon mx-4')%> MailBox
          </span>
          <ul data-menu-target="dropdown">
            <li>
              <%= link_to root_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'inbound', action: 'click->menu#set_active_menu_item'} do %>
                Buzon<%= inline_svg_tag('cadmin/icons/ico-key.svg', class:'icon ')%>
              <% end %>
            </li>
          </ul>
        </li>
      <%# end %>
    
      <li>  
        <span class="panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line sidebar__arrow" data-action="click->menu#set_active_menu" data-menu="conf">
          <%= inline_svg_tag('cadmin/icons/ico-cog.svg', class:'icon mx-4')%> Configuración
        </span>
        <ul data-menu-target="dropdown">
          <li>
            <%= link_to new_web_module_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start',data: {'menu-target': 'link', 'menu-item': 'modules', action: 'click->menu#set_active_menu_item'} do %>
              Modulos<%= inline_svg_tag('cadmin/icons/ico-key.svg', class:'icon ')%>
            <% end %>
          </li>
        </ul>
      </li>

    </ul>
  </nav>

    <!--cuenta/cerrar sesion-->
    <span class="has-text-centered has-text-white-ter"><%= current_cadmin_user.username %></span>
    <div data-controller="dropdown" class="dropdown is-up is-justify-content-center p-3">
      <div class="dropdown-trigger">
        <button class="button has-text-white is-fullwidth sidebar__button_user p-5" aria-haspopup="true" aria-controls="dropdown-menu" data-action="click->dropdown#show_options">
          <% if current_cadmin_user.avatar_data.present? %>
            <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded sidebar__avatar'  %></figure>
          <% else %>
            <span class="sidebar__letter_user"><%= current_cadmin_user.email[0] %></span> 
          <% end %>
          <span><%= current_cadmin_user.email %></span>
          <span class="icon is-small">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu pr-3" data-dropdown-target="button" id="dropdown-menu" role="menu">
        <div class="dropdown-content is-pulled-right">
          <div class="dropdown-item">
            <div class="dropdown-content">
              <%= button_to "Cerrar Sesión", logout_path, method: :get, class: "dropdown-item", data: {turbo: false} %>
              <%= link_to "Mi Cuenta", edit_profile_path(id: current_cadmin_user.id), class: "dropdown-item has-text-centered p-0" %>                      
            </div>
          </div>
        </div>
      </div>
    </div>

</aside>
