<p id="notice"><%= notice %></p>

<%= turbo_stream_from @conversation%>

<%= render @conversation %>

<div id="messages">
  <%= render @conversation.messages %>
</div>

<%= turbo_frame_tag :new_message, src: new_conversation_message_path(@conversation) %>


