<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Extra hour:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>place_id:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @user.province %>
</p>

<p>
  <strong>Service:</strong>
    <%= @user.postal_code %>
</p>

<p>
  <strong>Charged:</strong>
  <%= @user.shipping_address %>
</p>

<p>
  <strong>Observations:</strong>
  <%= raw  @user.billing_address %>
</p>

