<%= form_with(model: article_category, class: 'article__form') do |form| %>
  <% if article_category.errors.any? %>
    <div id="error_explanation" class="bg-errors">
      <h2><%= pluralize(article_category.errors.count, "error") %> prohibited this article_category from being saved:</h2>

      <ul>
        <% article_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input is-medium', required: true %>
  </div>

  <div class="actions my-6">
    <%= form.submit "#{t '.create'}", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", article_categories_path, class: "button has-background-white-ter mx-2" %>
    </div>
<% end %>
