<h1 class="title is-size-4-desktop is-size-5-touch has-text-centered"><%= t '.title' %></h1>

<p>
  <strong>Blog:</strong>
  <%= @web_module.blog %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @web_module.gallery %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @web_module.paypal %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @web_module.stripe %>
</p>

<p>
  <strong>Adyen:</strong>
  <%= @web_module.adyen %>
</p>

<p>
  <strong>Opinions:</strong>
  <%= @web_module.opinions %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @web_module.newsletter %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @web_module.reservation %>
</p>

<%= link_to 'Edit', edit_web_module_path(@web_module) %> |
<%= link_to 'Back', web_modules_path %>
