<%= form_with(model: main_service, html: {class: 'events__form'}) do |form| %>
  <% if main_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_service.errors.count, "error") %> <%= t('.error_message')%></h2>

      <ul>
        <% main_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input', required: true %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'input' %>
  </div>

  <div class="actions my-6">
    <%= form.submit "#{t '.create'}'", class: "button is-success mx-2" %>
    <%= link_to "#{t '.cancel'}", :back, class: "button has-background-white-ter mx-2" %>
  </div>
<% end %>
