<p id="notice"><%= notice %></p>

<h1>Main Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_services.each do |main_service| %>
      <tr>
        <td><%= main_service.name %></td>
        <td><%= main_service.description %></td>
        <td><%= main_service.position %></td>
        <td><%= link_to 'Show', main_service %></td>
        <td><%= link_to 'Edit', edit_main_service_path(main_service) %></td>
        <td><%= link_to 'Destroy', main_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Service', new_main_service_path %>
