  <%= form_with(model: article, data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {id: 'base', class: 'article__form'}) do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation" class="bg-errors">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= form.label :published_at, class: 'label ' %>
          <div class="control is-expanded  has-icons-right">
            <%= form.text_field :published_at,  autocomplete: "off", class: 'input is-medium',placeholder: "#{Time.now.strftime('%d-%m-%Y')}",  data: { controller: "flatpickr",flatpickr_default_date: Time.now,flatpickr_max_date: Time.zone.yesterday, flatpickr_date_format: "Y-m-d", flatpickr_locale: locale } %>
            <%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class: 'icon is-small is-right ')%>
          </div>
        </div>
        <div class="field">
          <%= form.label :unpublished_at, class: 'label' %>
          <div class="control is-expanded  has-icons-right">
            <%= form.text_field :unpublished_at,  autocomplete: "off", class: 'input is-medium',placeholder: "#{Time.now.strftime('%d-%m-%Y')}", data: { controller: "flatpickr"} %>
            <%= inline_svg_tag('cadmin/icons/ico-calendar.svg', class: 'icon is-small is-right')%>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :title, class: 'label' %>
      <div class="control">
      <%= form.text_field :title, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :content, class: 'label' %>
      <div class="control">
      <%= form.hidden_field :content, class: 'content ',data: {"quill-target": "content"} %>
        <div data-quill-target="editor" class="article__quill is-fullwidth ">
          <%= raw article.content %>
        </div> 
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= form.label :metatitle, class: 'label' %>
          <div class="control is-expanded">
          <%= form.text_field :metatitle, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <%= form.label :metadata, class: 'label' %>
          <div class="control is-expanded">
          <%= form.text_field :metadata, class: 'input'%>
          </div>
        </div>
      </div>
    </div>
    <%= form.hidden_field :user_id, value: current_cadmin_user.id %>
    <%# if 1 == 0 %>        
      <div class="field">
        <div class="file has-name">
          <%= form.label :image , class: 'label' %>
          <div class="control">
            <%= image_tag form.object.image_url if form.object.cached_image_data %>
            <%= form.hidden_field :image, value: form.object.cached_image_data %>
            <%= form.file_field :image, class: 'input' %>    
          </div>
        </div>
      </div>
    <%# end %>
    <%if 1== 0 %>
        <div class="field">
          <%= form.label :image %>
          <div data-controller="uppy" class="is-relative">
            <div data-uppy-target="container"></div>
            <%= form.hidden_field :image, value: form.object.cached_image_data,data: { "uppy-target": 'input' } %>
            <%#= form.hidden_field :image, value: article.cached_image_data, data: { uppy_target: 'input' } %>
            <div class="upload_container">
              <%= link_to"", "", target: '_blank', data: {"uppy-target": 'preview'} %>
              <span data-action="click->uppy#removeFile">Eliminar</span>
            </div>
          </div>
        </div>
    <% end %>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= form.label :status, class: 'label'%>
          <div class="select">
            <%= form.select :status, permitted_status, {prompt: 'Selecciona un estado'},{ class: 'select is-fullwidth is-focused'} %>
          </div>
        </div>
        <div class="field">
          <%= form.label :article_category_id, class: 'label'%>
          <div class="select">
            <%= form.collection_select(:article_category_id, Cadmin::ArticleCategory.all,:id,:name, {prompt: 'Selecciona una categoria',class: 'select is-fullwidth is-focused'}, required: true)%>
          </div>
        </div>
        
        <div class="field">
          <%= form.label :tags, class: 'label' %>
          <div class="control is-expanded" data-controller="tomselect">
            <%= form.select :tag_ids, Cadmin::Tag.all.map { |t| [t.name, t.id] }, { include_blank: "All" }, {  prompt: 'Selecciona usuario', id: 'select-service', class: "article__select",data: { tomselect_target: 'tagsField' } , multiple: true } %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions my-6">
      <%= form.submit "#{t '.create'}'", class: "button is-success mx-2" %>
      <%= link_to "#{t '.cancel'}", articles_path, class: "button has-background-white-ter mx-2" %>
    </div>
  <% end %>
