
<div class="section">
  <%= link_to 'New Article', new_article_path, class:'button is-success ' %>
  <%= form_tag articles_path, class: 'is-pulled-right', method: :get do %>
    <div class="field has-addons">
      <div class="control">
        <%= text_field_tag :title,params[:title],placeholder: :title, class: 'input is-info'%>
      </div>
      <%= button_tag(type:"submit", class: "button is-info is-halfwidth") do %>
        Buscar <%= inline_svg_tag('cadmin/icons/ico-search.svg', class: 'icon is-16x16 has-text-white ml-4')%>
      <% end %>
    </div>
  <% end %>            
</div>
<div class="columns is-multiline is-mobile">
    <% @articles.each do |article| %>
      <div class="column is-3">
        <div class="card article__card is-relative">
          <div class="card-image">
            <figure class="image is-16by9">
              <%= image_tag article.image_url if article.image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <% if current_cadmin_user.avatar_data.present? %>
                    <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded comments_profile'  %></figure>
                  <% else %>
                    <span class="sidebar__letter_user"><%= current_cadmin_user.username[0] %></span> 
                  <% end %>
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"><%= article.name%></p>
                <p class="subtitle is-6"><%= "@#{article.username}"%></p>
              </div>
            </div>

            <div class="content">
              <h2 class="title is-size-4"><%= link_to article.title, article %></h2>
              <div class="has-text-left mb-4"><%= raw article.content.truncate(100, separator: /\n/)%></div>
              <div class="article__date">
                <time datetime="<%= article.created_at.strftime('%d-%m-%y')%>">Publicado el: <%= article.published_at.strftime('%d-%m-%y')%></time>
                
                <span class="tag is-warning is-pulled-right"> <%= article.unpublish? %> </span>
                
              </div>
            </div>
          </div>
          <footer class="card-footer article__cfooter">
            <a href="#" class="card-footer-item"><%= link_to 'Show', article %></a>
            <a href="#" class="card-footer-item"><%= link_to 'Edit', edit_article_path(article) %></a>
            <a href="#" class="card-footer-item"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></a>
          </footer>
        </div>
      </div>
    <% end %>
</div>




