  <%= link_to 'Edit', edit_article_path(@article), class: 'button is-outlined is-success' %> | <%= link_to 'Back', articles_path, class: 'button is-outlined is-info' %>
<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-three-quarters">
        <!-- todo: turbo frame to article-->
        <%#= turbo_frame_tag :article, loading: :lazy, src: @article %>
        <%= render 'article'%>
        <!--TODO: COMENTARIOS SECTION-->
        <div class="section">
          <div class="box">
            <!--todo: turboframe to comments form-->  
            <% if @article.comments.present? %>
              <%= render @article.comments %>
              <%#= turbo_frame_tag :comments, loading: :lazy, src: @article.comments %>
            <% end %>
            <article class="media mb-3 comments">
              <figure class="media-left">
                <p class="image is-64x64 ">
                <% if current_cadmin_user.avatar_data.present? %>
                  <figure class=" image mr-3"><%= image_tag current_cadmin_user.avatar_url, class:'is-rounded comments_profile'  %></figure>
                <% else %>
                  <span class="sidebar__letter_user"><%= current_cadmin_user.username[0] %></span> 
                <% end %>
                </p>
              </figure>
              <div class="media-content">
                <%= form_with(model: [@article, @article.comments.build],data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {id: 'base'}) do |form| %>
                  <div class="field">
                    <p class="control">
                      <%= form.hidden_field :user_id, value: current_cadmin_user.id %>
                      <%= form.hidden_field :content, class: 'content',data: {"quill-target": "content"} %>
                      <div data-quill-target="editor" class="is-fullwidth">
                        comment...
                      </div> 
            
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <div class="actions">
                        <%= form.submit 'Post Comment', class: 'button is-success' %>
                      </div>                  
                    </p>
                  </div>  
                <% end %>              
              </div>
            </article>
            <%#== pagy_bulma_nav(@cpagy)%>
          </div>
        </div>
        <!--TODO: PAGINATION SECTION-->
        <div class="section">
          <nav class="pagination is-centered">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
          </nav>
          <%#== pagy_bulma_nav(@apagy)%>
        </div>
      </div>
      <!--TODO: buscador y articulos relacionados-->
      <div class="column">
        <div class="article__sticky">
          <div class="section">
            <%= form_tag articles_path, method: :get do %>
              <div class="field has-addons">
                <div class="control">
                  <%= text_field_tag :title,params[:title],placeholder: :title, class: 'input'%>
                </div>
                <%= button_tag(type:"submit", class: "button is-info is-halfwidth") do %>
                  Buscar <%= inline_svg_tag('cadmin/icons/ico-document-search.svg', class: 'icon is-16x16 has-text-white ml-4')%>
                <% end %>
              </div>
            <% end %>            
          </div>
          <div class="section">
            <aside class="menu">
              <p class="menu-label">
                Últimos articulos
              </p>
              <ul class="menu-list">
                <% @articles.limit(5).each do |article| %>
                  <li><h2 class="subtitle is-size-5 has-background-white-ter has-text-dark my-3"><%=link_to article.title, article %></h2></li>
                <% end %>
              </ul>
            </aside>
          </div>
          <div class="section">
            <aside class="menu">
              <p class="menu-label">
                TAGS
              </p>
              <ul class="menu-list">
                <% @article.tag_list.split(',').to_a.each do |tag| %>
                 <li class="tag is-warning"> <%= "#{tag}" %> </li>
                <% end %>       
              </ul>
            </aside>
          </div>
          <!--todo: create tags and category for articles-->
          <div class="section">
            <aside class="menu">
              <p class="menu-label">
                Categorias
              </p>
              <ul class="menu-list">
                <% @categories.limit(4).each do |category| %>
                  <li><%= link_to category.name, category %></li> 
                <% end %>    
                <li> <%= link_to 'Más categorías', article_categories_path %> </li>            
              </ul>
            </aside>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>