

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column is-three-quarters">
        <%= turbo_frame_tag :article do %>
          <div class="section">
            <figure class="image is-16by9 mb-6">
              <%= image_tag @article.image_url if @article.image %>
            </figure>
            <div class="content">
              <h1><%= @article.title %></h1>
              <div class="has-text-left">
                <%= @article.content %>
              </div>
            </div>
          </div>
        <% end %>
        

        <!--TODO: COMENTARIOS SECTION-->
        <div class="section">
          <% if @article.comments.present? %>
            <%= render @article.comments %>
            <%#= turbo_frame_tag :comments, loading: :lazy, src: @article.comments %>
          <% end %>
          <%# TODO: form comments%>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png" class="is-rounded">
              </p>
            </figure>
            <div class="media-content">
              <%= form_with(model: [@article, @article.comments.build],data: {"controller": "quill", "action": "quill#save", turbo: false}, html: {id: 'base'}) do |form| %>
                <div class="field">
                  <p class="control">
                    <%= form.hidden_field :user_id, value: current_cadmin_user.id %>
                    <%= form.hidden_field :content, class: 'content',data: {"quill-target": "content"} %>
                    <div data-quill-target="editor" class="is-fullwidth">
                      comment...
                    </div> 
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <div class="actions">
                      <%= form.submit 'Post Comment', class: 'button is-success' %>
                    </div>                  
                  </p>
                </div>  
              <% end %>              
            </div>
          </article>
        </div>

        <!--TODO: PAGINATION SECTION-->
        <div class="section">
          <nav class="pagination is-centered">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>

          </nav>

        </div>
      </div>
      <!--TODO: buscador y articulos relacionados-->
      <div class="column">
        <div class="section">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Find a repository">
            </p>
            <p class="control">
              <a class="button is-primary">
                Search
              </a>
            </p>
          </div>
        </div>
        <div class="section">
          <aside class="menu">
            <p class="menu-label">
              Últimos articulos
            </p>
            <ul class="menu-list">
              <% @articles.each do |article| %>
                <li><h2 class="subtitle is-size-5 has-background-white-ter has-text-dark my-3"><%=link_to article.title, article %></h2></li>
              <% end %>
            </ul>


          </aside>

        </div>
        <div class="section">
          <aside class="menu">
            <p class="menu-label">
              カテゴリ
            </p>
            <ul class="menu-list">
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
              <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
            </ul>


          </aside>

        </div>

      </div>

    </div>

  </div>
</div>